<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik" />
  <link rel="stylesheet" href="/css/main.css" />
  <% for (sheet of css){ %>
  <link rel="stylesheet" href="/css/<%= sheet %>">
  <% } %>
  <script src="https://kit.fontawesome.com/0f2b0bea05.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">MTGHero</a></li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Buy</a>
        <div class="dropdown-content">
          <a href="/singles">Singles</a>
        </div>
      </li>
      <li><a href="/sell">Sell</a></li>
      <li>
        <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
      </li>
    </ul>
  </nav>
  <%- body %>
  <footer>

  </footer>
</body>

</html>