<% layout('layouts/boilerplate') %>

<main>
  <h1>Cart</h1>
  <ul>
    <% for (card of cart){ %>
    <li><%= card.name %>: x<%= card.quantity %></li>
    <% } %>
  </ul>
  <h1>Buy List</h1>
  <ul>
    <% for (card of buyList){ %>
    <li><%= card.name %>: x<%= card.quantity %></li>
    <% } %>
  </ul>

  <form action="/checkout" method="POST">
    <button>Checkout</button>
  </form>
</main>