<% layout('layouts/boilerplate') %>

<main>
    <section class="carousel">
        <div class="carousel-container">
            <div class="carousel-item fade">
                <p>Test1</p>
            </div>

            <div class="carousel-item fade">
                <p>Test2</p>
            </div>

            <div class="carousel-item fade">
                <p>Test3</p>
            </div>
        </div>
        <div style="text-align: center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </section>
    <script src="/js/home.js"></script>
</main>
