<% layout('layouts/boilerplate') %>

<main>
  <section id="grid-container">
    <div id="deals">
      <div class="content"></div>
    </div>
    <div id="promo1">
      <div class="content"></div>
    </div>
    <div id="promo2">
      <div class="content"></div>
    </div>
    <div id="top-sellers">
      <div class="content"></div>
    </div>
  </section>
  <section>
    <h1>Shop Catagories</h1>
    <div id="catagories">
      <div>
        <p>Singles</p>
      </div>
      <div>
        <p>Pre-Cons</p>
      </div>
      <div>
        <p>Boosters</p>
      </div>
      <div>
        <p>Accessories</p>
      </div>
    </div>
  </section>
</main>
<script src="/js/landing.js"></script>