<% layout('layouts/boilerplate') %>

<main>
  <section id="grid-container">
    <div id="deals">
      <div class="content">
        <a href="/precons">
          <img src="/images/landing/warhammer.jpg" alt="warhammer precons" />
        </a>
      </div>
    </div>
    <div id="promo1">
      <a href="/sell">
        <img src="/images/landing/sell.jpg" alt="sell cards" />
      </a>
    </div>
    <div id="promo2">
      <a href="/accessories">
        <img src="/images/landing/playmats.jpg" alt="buy play mats" />
      </a>
    </div>
    <div id="top-sellers">
      <a href="/singles">
        <img src="/images/landing/dmu.jpg" alt="dominaria singles" />
      </a>
    </div>
  </section>
  <section>
    <h1>Shop Catagories</h1>
    <div id="catagories">
      <div>
        <a href="/singles"><img src="/images/landing/singles.jpg" alt="singles" /></a>
      </div>
      <div>
        <a href="/precons"><img src="/images/landing/precons.jpg" alt="precons" /></a>
      </div>
      <div>
        <a href="/boosters"><img src="/images/landing/boosters.jpg" alt="boosters" /></a>
      </div>
      <div>
        <a href="/accessories"><img src="/images/landing/accessories.jpg" alt="accessories" /></a>
      </div>
    </div>
  </section>
</main>
<script src="/js/landing.js"></script>