<% layout('layouts/boilerplate') %>
<main>
  <section>
    <h1>Terms and Conditions</h1>
    <p>
      MTGHero is unofficial Fan Content permitted under the Fan Content
      Policy. Not approved/endorsed by Wizards. Portions of the materials used
      are property of Wizards of the Coast. ©Wizards of the Coast LLC. More
      information
      <a href="https://company.wizards.com/en/legal/fancontentpolicy">here</a>.
    </p>
  </section>
</main>