/* DELETE THIS LATER */
.content {
    background-color: black;
    width: 100%;
    height: 100%;
}
/* PLEASE */

img {
    width: 100%;
    height: 100%;
    border: solid black 2px;
}

#grid-container,
#catagories {
    width: 90%;
    max-width: 1500px;
}

#grid-container {
    display: grid;
    aspect-ratio: 1.5;
    margin: 2rem auto;
    grid-template: repeat(8, 1fr) / 75% 25%;
}

#grid-container > * {
    padding: 1rem;
}

#deals {
    grid-area: 1 / 1 / 6 / 2;
}

#promo1 {
    grid-area: 1 / 2 / 5 / 3;
}

#promo2 {
    grid-area: 5 / 2 / 9 / 3;
}

#top-sellers {
    grid-area: 6 / 1 / 9 / 2;
}

#catagories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

#catagories > div {
    width: 20%;
    min-width: 12.5rem;
    aspect-ratio: 1;
    margin-bottom: 1rem;
}

#catagories > div:first-child {
    margin-left: 1rem;
}

#catagories > div:last-child {
    margin-right: 1rem;
}

@media screen and (max-width: 1050px) {
    main {
        padding: 0 1rem;
    }
    #grid-container {
        aspect-ratio: 1.125;
        grid-template: 62.5% 37.5% / 1fr;
        width: 100%;
    }
    #deals {
        grid-area: initial;
    }

    #promo1 {
        display: none;
    }

    #promo2 {
        display: none;
    }

    #top-sellers {
        grid-area: initial;
    }

    #catagories {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        justify-items: center;
    }

    #catagories > div {
        width: 90%;
        max-width: 17.5rem;
        min-width: initial;
        /* margin: initial; */
    }
}
