body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    --card-bg: #e1e8f7;
    --card-border: #b0c8fc;
    --button-primary: #2b56b4;
    --button-primary-border: #0b2b6e;
}

/* NAVBAR (based on https://www.w3schools.com/css/css_navbar.asp)*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

nav li {
    float: left;
}

nav li:last-child {
    float: right;
}

nav li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 18pt;
}

nav li:first-child a {
    font-size: 26pt;
    padding: 8px 16px;
}

nav li a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: red;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* END NAV */

main {
    padding: 0 2rem;
}

h1 {
    text-align: center;
}

button {
    background-color: var(--button-primary);
    border: solid var(--buttonr-primary-border) 1px;
    border-radius: 0.6rem;
    color: white;
    padding: 0.4rem;
    transition-duration: 0.15s;
}

button:hover {
    background-color: var(--button-primary-border);
}
