<% layout('layouts/boilerplate') %>

<main>
    <form action="/sell/search" method="post">
        <div>
            <label for="name">Card Name:</label>
            <input type="text" name="name" id="name" />
        </div>
        <button>Search</button>
    </form>
</main>
