<% layout('layouts/boilerplate') %>

<main>
  <h1>Sell Singles</h1>
  <form id="search-form" action="/sell/search" method="GET">
    <div>
      <label for="name">Card Name:</label>
      <input type="text" name="name" id="name" />
    </div>
    <button>Search</button>
  </form>
</main>